* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$primary: #5265e1;
$secondary: #fa5959;
$light: #f2f1f1d9;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
);

$nav-tabs-link-hover-border-color: transparent;
$nav-link-hover-color: $secondary;
$nav-link-color: rgb(0, 0, 0);

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/maps";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";

.nav-underline .nav-link:hover {
  border-color: transparent !important;
}

.nav-underline .nav-link:focus {
  border-bottom-color: $secondary !important;
  font-weight: 700 !important;
  color: $secondary !important;
}

.circulo-right {
  background: #5265e1;
  margin-top: -20rem;
  height: 20rem;
  width: 100%;
  border-radius: 10rem 0 0 10rem;
  margin-left: 10rem;
  z-index: -1;
  position: relative;
}
.circulo-left {
  background: #5265e1;
  margin-top: -20rem;
  height: 20rem;
  width: 100%;
  border-radius: 0 10rem 10rem 0;
  margin-left: -10rem;
  z-index: -1;
  position: relative;
}

#login {
  color: white;
}

a {
  text-decoration: none;
}

.h1 {
  text-align: left;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.text {
  opacity: 0.6;
}

.li {
  text-decoration: none;
}

@include media-breakpoint-down(xxl) {
  .circulo-right {
    margin-top: -15rem;
    height: 15rem;
    margin-left: 10rem;
  }
  .circulo-left {
    margin-top: -15rem;
    height: 15rem;
    margin-left: -10rem;
  }
}
@include media-breakpoint-down(xl) {
  .circulo-right {
    margin-top: -10rem;
    height: 10rem;
    margin-left: 7rem;
  }
  .circulo-left {
    margin-top: -10rem;
    height: 10rem;
    margin-left: -7rem;
  }
}
@include media-breakpoint-down(m) {
  .circulo-right {
    margin-top: -12rem;
    height: 13rem;
    margin-left: 7rem;
  }
  .circulo-left {
    margin-top: -12rem;
    height: 13rem;
    margin-left: -7rem;
  }
}
@include media-breakpoint-down(sm) {
  .navbar {
  }
  .h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  button.features {
    width: 100%;
  }
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";
